*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-color: rgb(155, 161, 216);
}
.dice{
    display: grid;
    grid-template-columns:repeat(3 , 1fr);
    width: 25vw;
    height: 25vw;
    background-color: rgb(119, 21, 21);
}
.dice>div{
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
}